USE [tte-bcdkn]
GO
/****** Object:  Table [dbo].[Modality]    Script Date: 06/10/2010 21:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Modality](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Subject] [int] NULL,
	[Hours] [int] NULL,
 CONSTRAINT [PK_Modality] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Planning]    Script Date: 06/10/2010 21:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Planning](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Parent] [int] NULL,
	[LastChange] [datetime] NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Planning] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Planning] ON
INSERT [dbo].[Planning] ([Id], [Name], [Parent], [LastChange], [Type]) VALUES (1, N'SUPINFO', NULL, CAST(0x00009E0B00000000 AS DateTime), 0)
INSERT [dbo].[Planning] ([Id], [Name], [Parent], [LastChange], [Type]) VALUES (2, N'Toulouse', 1, CAST(0x00009D9100DF8EA8 AS DateTime), 1)
INSERT [dbo].[Planning] ([Id], [Name], [Parent], [LastChange], [Type]) VALUES (3, N'2012', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Planning] OFF
/****** Object:  Table [dbo].[User]    Script Date: 06/10/2010 21:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[User] ([Id], [Login], [Password]) VALUES (8, N'popi', N'popi')
/****** Object:  Table [dbo].[Role]    Script Date: 06/10/2010 21:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User] [int] NOT NULL,
	[Target] [int] NULL,
 CONSTRAINT [PK_Right] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([Id], [User], [Target]) VALUES (1, 8, 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[Event]    Script Date: 06/10/2010 21:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Planning] [int] NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NOT NULL,
	[Mandatory] [bit] NOT NULL,
	[Place] [varchar](50) NULL,
	[Speaker] [int] NULL,
	[Owner] [int] NOT NULL,
	[Subject] [int] NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON
INSERT [dbo].[Event] ([Id], [Name], [Planning], [Start], [End], [Mandatory], [Place], [Speaker], [Owner], [Subject]) VALUES (2, N'tondre la pelouse', 8, CAST(0x00009E0B00000000 AS DateTime), CAST(0x00009E0B00A4CB80 AS DateTime), 1, N'home', NULL, 8, NULL)
INSERT [dbo].[Event] ([Id], [Name], [Planning], [Start], [End], [Mandatory], [Place], [Speaker], [Owner], [Subject]) VALUES (3, N'fermer les volets', 1, CAST(0x00009E0B00A4CB80 AS DateTime), CAST(0x00009E0B01499700 AS DateTime), 1, N'préaut 2', NULL, 8, NULL)
INSERT [dbo].[Event] ([Id], [Name], [Planning], [Start], [End], [Mandatory], [Place], [Speaker], [Owner], [Subject]) VALUES (4, N'VEVENT', 2, CAST(0x00009E0B00000000 AS DateTime), CAST(0x00009E0B00000000 AS DateTime), 1, N'home', NULL, 8, NULL)
SET IDENTITY_INSERT [dbo].[Event] OFF
/****** Object:  Table [dbo].[Period]    Script Date: 06/10/2010 21:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Period](
	[Id] [int] NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NOT NULL,
 CONSTRAINT [PK_Period] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Period] ([Id], [Start], [End]) VALUES (4, CAST(0x00009C9E00000000 AS DateTime), CAST(0x00009E0B00000000 AS DateTime))
/****** Object:  Table [dbo].[Class]    Script Date: 06/10/2010 21:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [int] NOT NULL,
	[Period] [int] NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Class] ([Id], [Period]) VALUES (7, 4)
/****** Object:  Check [CK_PlanningsType]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Planning]  WITH CHECK ADD  CONSTRAINT [CK_PlanningsType] CHECK  (([Type]<(5) AND [Type]>(-1)))
GO
ALTER TABLE [dbo].[Planning] CHECK CONSTRAINT [CK_PlanningsType]
GO
/****** Object:  ForeignKey [FK_Class_PeriodPlanning]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_PeriodPlanning] FOREIGN KEY([Period])
REFERENCES [dbo].[Planning] ([Id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_PeriodPlanning]
GO
/****** Object:  ForeignKey [FK_Class_Planning]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Planning] FOREIGN KEY([Id])
REFERENCES [dbo].[Planning] ([Id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Planning]
GO
/****** Object:  ForeignKey [FK_Event_Owner]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Owner] FOREIGN KEY([Owner])
REFERENCES [dbo].[Planning] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Owner]
GO
/****** Object:  ForeignKey [FK_Event_Planning]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Planning] FOREIGN KEY([Planning])
REFERENCES [dbo].[Planning] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Planning]
GO
/****** Object:  ForeignKey [FK_Event_Speaker]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Speaker] FOREIGN KEY([Speaker])
REFERENCES [dbo].[Planning] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Speaker]
GO
/****** Object:  ForeignKey [FK_Event_Subject]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Subject] FOREIGN KEY([Subject])
REFERENCES [dbo].[Modality] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Subject]
GO
/****** Object:  ForeignKey [FK_Modality_Subject]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Modality]  WITH CHECK ADD  CONSTRAINT [FK_Modality_Subject] FOREIGN KEY([Subject])
REFERENCES [dbo].[Modality] ([Id])
GO
ALTER TABLE [dbo].[Modality] CHECK CONSTRAINT [FK_Modality_Subject]
GO
/****** Object:  ForeignKey [FK_Period_Planning]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Period]  WITH CHECK ADD  CONSTRAINT [FK_Period_Planning] FOREIGN KEY([Id])
REFERENCES [dbo].[Planning] ([Id])
GO
ALTER TABLE [dbo].[Period] CHECK CONSTRAINT [FK_Period_Planning]
GO
/****** Object:  ForeignKey [FK_Plannings_Parent]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Planning]  WITH CHECK ADD  CONSTRAINT [FK_Plannings_Parent] FOREIGN KEY([Parent])
REFERENCES [dbo].[Planning] ([Id])
GO
ALTER TABLE [dbo].[Planning] CHECK CONSTRAINT [FK_Plannings_Parent]
GO
/****** Object:  ForeignKey [FK_Right_Campus]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_Right_Campus] FOREIGN KEY([Target])
REFERENCES [dbo].[Planning] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_Right_Campus]
GO
/****** Object:  ForeignKey [FK_Right_User]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_Right_User] FOREIGN KEY([User])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_Right_User]
GO
/****** Object:  ForeignKey [FK_User_Planing]    Script Date: 06/10/2010 21:40:54 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Planing] FOREIGN KEY([Id])
REFERENCES [dbo].[Planning] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Planing]
GO
