<?xml version="1.0"?>
<configuration>
	
	<connectionStrings>
		<add name="TteDataBase" connectionString="metadata=res://*/TteDataBase.csdl|res://*/TteDataBase.ssdl|res://*/TteDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=tte-knbc;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
<!--		<membership defaultProvider="CredentialsClass" >
			<providers>
				<clear/>
				<add name="CredentialsClass"  type="Microsoft.ServiceModel.Samples.CalculatorService.CustomUserNameValidator"/>
			</providers>
		</membership>
-->	</system.web>

	<system.serviceModel>

	<bindings>
   <wsHttpBinding>
    <binding name="myWsHttpBinding">
<!--     <security mode="Message">
      <message  clientCredentialType="UserName" algorithmSuite="Basic256Sha256"  establishSecurityContext="true"/>
     </security>
-->    </binding>
   </wsHttpBinding>
  </bindings>
		
  <standardEndpoints />
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<services>
   <service behaviorConfiguration="a" name="BusinessLayer.BusinessLayer">
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding"
     name="BusinessLayer" bindingName="BusinessLayerBinding" bindingNamespace="BusinessLayer"
     contract="BusinessLayer.IBusinessLayer">
     <identity>
      <dns value="localhost" />
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:2900/BusinessLayer" />
     </baseAddresses>
    </host>
   </service>
  </services>


  <behaviors>
   <serviceBehaviors>
    <behavior name="a">
     <serviceMetadata httpGetEnabled="true" httpsGetBinding="" />
     <serviceDebug includeExceptionDetailInFaults="false" />
<!--     <serviceCredentials>
      <userNameAuthentication includeWindowsGroups="false" membershipProviderName="CredentialsClass"
       customUserNamePasswordValidatorType="Microsoft.ServiceModel.Samples.CalculatorService.CustomUserNameValidator, service" />
    <windowsAuthentication allowAnonymousLogons="true" />
     </serviceCredentials>
-->
 </behavior>
   </serviceBehaviors>
  </behaviors>

	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
