<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="TteDataBase" connectionString="metadata=res://*/TteDataBase.csdl|res://*/TteDataBase.ssdl|res://*/TteDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=tte-knbc;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.serviceModel>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<services>
   <service behaviorConfiguration="a" name="BusinessLayer.BusinessLayer">
    <endpoint address="" binding="basicHttpContextBinding" bindingConfiguration=""
     name="BusinessLayer" contract="BusinessLayer.IBusinessLayer">
     <identity>
      <dns value="localhost" />
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:49226/BusinessLayer" />
     </baseAddresses>
    </host>
   </service>
  </services>

		<behaviors>
   <serviceBehaviors>
    <behavior name="a">
     <serviceMetadata httpGetEnabled="true" httpsGetBinding="" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>

	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
