<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<connectionStrings>
		<add name="TteDataBase" connectionString="metadata=res://*/TteDataBase.csdl|res://*/TteDataBase.ssdl|res://*/TteDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=tte-knbc;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.serviceModel>
		
		<bindings>
			<!--
			<webHttpBinding>
				<binding name="myHttpBinding">
					<security mode="Transport">
						<transport clientCredentialType="Basic" />
					</security>
				</binding>
			</webHttpBinding>
			-->
			<customBinding>
				<binding name="myHttpBindingConf">
					<context contextManagementEnabled="true" protectionLevel="None"/>
					<!--<security allowSerializedSigningTokenOnReply="true" 
							canRenewSecurityContextToken="true" 
							  enableUnsecuredResponse="true"   
							  allowInsecureTransport="true"/>-->
					<httpTransport useDefaultWebProxy="false" />
				</binding>
			</customBinding>
		</bindings>

		<!--	<standardEndpoints>
			<webHttpEndpoint>
				    <standardEndpoint name="epc" defaultOutgoingResponseFormat="Json">
     <security mode="Transport">
      <transport clientCredentialType="Basic" />
     </security>
    </standardEndpoint>

			</webHttpEndpoint>
		</standardEndpoints>
-->
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

		<services>
			<service behaviorConfiguration="a" name="BusinessLayer.BusinessService">
				<endpoint address="BusinessService" binding="customBinding" bindingConfiguration="myHttpBindingConf"
				 name="BusinessService" bindingName="BusinessLayerBinding" bindingNamespace="BusinessLayer"
				 contract="BusinessLayer.IBusinessService" isSystemEndpoint="false"
				  >
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2900" />
						<add baseAddress="https://localhost:2900"/>
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="a">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom"
						 customUserNamePasswordValidatorType="BusinessLayer.AuthValidator, BusinessLayer"/>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>
