<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>

	  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	  <services>
		  <service name="BusinessLayer" behaviorConfiguration="a">

			  <endpoint  address="" contract="BusinessLayer.IBusinessLayer" binding="wsHttpBinding">
				  <identity>
					  <dns value="localhost"/>
				  </identity>
			  </endpoint>

			  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

			  <host>
				  <baseAddresses>
					  <add baseAddress="http://localhost:49226/BusinessLayer"/>
				  </baseAddresses>
			  </host>

		  </service>
	  </services>

	  <behaviors>
		  <serviceBehaviors>
			  <behavior name="a">
				  <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
				  <serviceMetadata httpGetEnabled="True"/>
				  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
				  <serviceDebug includeExceptionDetailInFaults="False"/>
			  </behavior>
		  </serviceBehaviors>
	  </behaviors>

  </system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
